* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.tool {
  background: rgb(90, 120, 180);
  display: flex;
  align-items: center;
}

.tool > * {
  height: 40px;
  width: 40px;
  background: white;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
}

#save {
  margin-left: auto;
}

.tool a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  color: black;
}

canvas {
  border: 1px solid black;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
}
