* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #ffe000, #799f0c);
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  border-radius: 6px;
}

form {
  border-bottom: 1px solid #aaa;
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

form input {
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 500;
  width: 100%;
  margin-right: 15px;
}

form button {
  padding: 6px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: #799f0c;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.todos li {
  padding: 10px 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #e5e5e5;
  align-items: center;
  font-size: 22px;
}

.todos li span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.completed {
  color: #aaa;
}

li.completed span {
  text-decoration: line-through;
}
